@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" />

<div class="text-center">
    <h1 class="display-4">KA&LO_STORE</h1>
</div>
<h1>ATIVANDO SEU AMOR PRÓPRIO 🥰</h1>
<h3>Roupas e vestuário</h3>
<p>Conheça nosso <a href="https://www.instagram.com/kaelostore/" target=“_blank”> Instagram</a>.</p>
<p>❤️ |Moda feminina/Plus size.</p>
<p>👗 |Moda selecionada para você.</p>
<p>💳 |Aceitamos cartões.</p>
<a href="https://api.whatsapp.com/send?phone=5513988033094&text=Ol%C3%A1%2C+Gostaria+de+conhecer+os+looks"target=“_blank”>📱 Nosso whatsApp</a>
<br>
